button {
  border-radius: 20px;
  border: none;
  height: 60px;
  width: 60px;
  font-size: 1.3rem;
  cursor: pointer;
  background-color: #26292f;
  color: white;
}
.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: #2a2d37;
  height: 70%;
}
.btn-operator {
  color: #c38185;
}
// .clear {
//   width: 120px;
// }
// .clear,
// .percent,
// .divide-num {
//   color: #77d4c7;
// }